h1
{
    text-align: center;
	font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
    
}
h2
{
	writing-mode: vertical-rl;
text-orientation: mixed;
    font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
  text-decoration:none;
    font-size:120%;
	vertical-align:middle;
	margin-top : 10px;
	
}

a{
	font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
  text-decoration:none;
    font-size:120%;
	vertical-align:middle;
	margin-top : 10px;
}

h2.right{
	margin-top : 50px;
	margin-left: 80px;
}

#menu
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

#page
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

section
{
    border: 10px black ridge;
	min-height: 100px;
	min-width: 500px;
    padding: 20px;
}

video{
	
	padding : 50px;
	width: 400px
	
}

ul.right{
	margin : 10px 0px 50px 100px ;
}

ul.left{
	margin : 10px 40px 50px 20px ;
}

p{
	font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
}

.gauche{
	margin-bottom: 100px;
	width: 51%;
	
}

.droite{
	margin-top: 100px;
	width: 51%;
	float : right;
	
}

.🥰{
	margin: auto;
	margin-top: 200px;
	width: 70%;
}

.element
{
    width: 50%;
    color:palevioletred;
    font-family: fantasy;
    
}
.element:nth-child(2)
{
    text-align:center;
}

img.user:hover {
  cursor: pointer;
  animation: bounceOut 0.6s linear;
}

@keyframes bounceOut {
  0% {
   	opacity: 1;
    transform: scale(1);
  }
  25% {
    opacity: 1;
    transform: scale(0.96);
  }
  50% {
    opacity: 1;
	 transform: scale(1.02);
  }
  75% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
   
    opacity: 1;
  }
}

footer
{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    margin-top: 50px;
    margin-right: 10px;
}

#audioplayer{
	width: 480px;
	height: 60px;
	margin: 60px 00px 60px 10px;
  border: solid;
	float : right;
}

#pButton{
    height:60px; 
    width: 60px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
}

.play{background: url("beber.png") ;}
.pause{background: url("cimon.png") ;}

#timeline{
	width: 400px;
	height: 20px;
	margin-top: 20px;
	float: left;
	border-radius: 15px;
	background: rgba(0,0,0,.3);
  
}
#playhead{
	width: 30px;
	height: 30px;
	background: url("raf.png");

}







#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: black;
  
  border: solid 10px black;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 10px black;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 50px;
	
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: black;
  
  outline:none;
  cursor: pointer;
  
  border: solid 10px black;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}
